<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Memo App</title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>アカウント登録</h1>

  <% if (typeof error !== 'undefined') { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <form action="/signup" method="POST">
    <input name="username" placeholder="ユーザー名" value="<%= typeof username !== 'undefined' ? username : '' %>" />
    <input name="password" placeholder="パスワード(8文字以上)" type="password" />
    <br>
    <button>登録</button>
  </form>
</body>
</html>